<!DOCTYPE html>
<html lang="en" ng-app="VideoContest" ng-controller="ContestCtrl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #080808">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Video Contest</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >


            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <!--<a class="page-scroll" href="index.html">Inicio</a>-->
                </li>
                <li>
                    <br>
                    <div id="sesionNOO" >

                    </div>

                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div >

        </div>
    </div>
</header>

<!-- Services Section -->

<section id="registro">

    <div class="container">
        <div class="row">
            <h2 id="nombre" class="section-heading">CONCURSO DE VÍDEOS CORTOS #TUVERANO DE CINE</h2>
            <div class="col-sm-12" style=" box-shadow: 2px 2px 5px gray; border-radius: 5px">
                <p id="descripcion">
                </p>
            </div>


        </div>
        <br>
        <h2 class="section-heading">¡Participa!</h2>
        <div class="row" >
            <div class="col-sm-12" style="box-shadow: 2px 2px 5px gray; border-radius: 5px" >


                <form name="upload" ng-submit="uploadFile();">
                    <div class="col-md-6">
                        <br>
                        <input id="nombreUsuario" type="text" placeholder="Nombrea" class="form-control" required><br>
                        <input id="apellidos" type="text" placeholder="Apellidos" class="form-control" required><br>
                        <input id="correo" type="email" placeholder="Correo" class="form-control" required><br>
                        <input accept="video/*,.flv,.mpg" type="file" name="file" uploader-model="file" class="form-control" required><br>
                        <input id="btnSubir" type="submit" class="btn btn-default btn-block" style="background-color:#FED136;color:white" id="submit" value="Subir Video"><br>
                        <div align="left"><label  id="menVideo" style="color:green"></label></div>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <textarea id="descripcionVideo" class="form-control" rows="12" placeholder="¿Por que te gusta este producto?" required></textarea><br>
                    </div>
                </form>

            </div>

        </div>
        <br>
        <h2 class="section-heading">Videos Concursando</h2>
        <div class="row" style="box-shadow: 2px 2px 5px gray; border-radius: 5px" ng-repeat="item in filteredTodos " repeat-end="onEnd()">
            <div  class="col-xs-8" >
                <br>
                <div id="{{item.id}}" >
                </div>
                <br>
            </div>
            <div class="col-xs-4" >
                <br>
                <span ><label>Fecha ceración: </label>{{" "+getFecha(item.uploadDate)}}</span><br>
                <label>Usuario:</label><br>
                <span>{{item.name+" "+item.lastname}}</span><br>
                <span>{{item.email}}</span><br><br>
                <span>{{item.description}}</span><br><br>
            </div>
        </div>
        <div align="center">
            <pagination
                    ng-model="currentPage"
                    total-items="allVideos.length"
                    max-size="maxSize"
                    boundary-links="true">
            </pagination>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<!--<script src="js/contact_me.js"></script>-->

<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
<script src="js/Angular/App.js"></script>
<script src="js/Angular/ContestCtrl.js"></script>
<script src="js/Angular/login.js"></script>
<!--<script src="js/Angular/Upload.js"></script>-->

<script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

<script src="http://content.jwplatform.com/libraries/uGTdI3ED.js"></script>


</body>

</html>
